si.petrol.productfeed/Schemas/ProductFeed.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="country" type="xs:string"/>
  <xs:element name="service" type="xs:string"/>
  <xs:element name="price" type="xs:string"/>
  <xs:element name="id" type="xs:string"/>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="description" type="xs:string"/>
  <xs:element name="google_product_category" type="xs:string"/>
  <xs:element name="link" type="xs:anyURI"/>
  <xs:element name="image_link" type="xs:anyURI"/>
  <xs:element name="additional_image_link" type="xs:anyURI"/>
  <xs:element name="availability" type="xs:string"/>
  <xs:element name="sale_price" type="xs:float"/>
  <xs:element name="gtin" type="xs:int"/>
  <xs:element name="brand" type="xs:string"/>
  <xs:element name="adult" type="xs:string"/>
  <xs:element name="product_type" type="xs:string"/>
  <xs:element name="mobile_link" type="xs:anyURI"/>
  <xs:element name="condition" type="xs:string"/>
  <xs:element name="availability_date" type="xs:string"/>
  <xs:element name="sale_price_effective_date" type="xs:string"/>
  <xs:element name="item_group_id" type="xs:string"/>
  <xs:element name="color" type="xs:string"/>
  <xs:element name="gender" type="xs:string"/>
  <xs:element name="age_group" type="xs:string"/>
  <xs:element name="material" type="xs:string"/>
  <xs:element name="pattern" type="xs:string"/>
  <xs:element name="size" type="xs:string"/>
  <xs:element name="size_type" type="xs:string"/>
  <xs:element name="size_system" type="xs:string"/>
  <xs:element name="shipping">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="country"/>
        <xs:element ref="service"/>
        <xs:element ref="price"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="shipping_weight" type="xs:string"/>
  <xs:element name="shipping_label" type="xs:string"/>
  <xs:element name="multipack" type="xs:byte"/>
  <xs:element name="is_bundle" type="xs:string"/>
  <xs:element name="custom_label_0" type="xs:string"/>
  <xs:element name="custom_label_1" type="xs:string"/>
  <xs:element name="custom_label_2" type="xs:string"/>
  <xs:element name="custom_label_3" type="xs:string"/>
  <xs:element name="custom_label_4" type="xs:string"/>
  <xs:element name="adwords_redirect" type="xs:anyURI"/>
  <xs:element name="excluded_destination" type="xs:string"/>
  <xs:element name="expiration_date" type="xs:date"/>
  <xs:element name="unit_pricing_measure" type="xs:string"/>
  <xs:element name="unit_pricing_base_measure" type="xs:string"/>
  <xs:element name="item">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="id"/>
        <xs:element ref="title"/>
        <xs:element ref="description"/>
        <xs:element ref="google_product_category"/>
        <xs:element ref="link"/>
        <xs:element ref="image_link"/>
        <xs:element ref="additional_image_link" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="availability"/>
        <xs:element ref="price"/>
        <xs:element ref="sale_price"/>
        <xs:element ref="gtin"/>
        <xs:element ref="brand"/>
        <xs:element ref="adult"/>
        <xs:element ref="product_type"/>
        <xs:element ref="mobile_link"/>
        <xs:element ref="condition"/>
        <xs:element ref="availability_date"/>
        <xs:element ref="sale_price_effective_date"/>
        <xs:element ref="item_group_id"/>
        <xs:element ref="color"/>
        <xs:element ref="gender"/>
        <xs:element ref="age_group"/>
        <xs:element ref="material"/>
        <xs:element ref="pattern"/>
        <xs:element ref="size"/>
        <xs:element ref="size_type"/>
        <xs:element ref="size_system"/>
        <xs:element ref="shipping"/>
        <xs:element ref="shipping_weight"/>
        <xs:element ref="shipping_label"/>
        <xs:element ref="multipack"/>
        <xs:element ref="is_bundle"/>
        <xs:element ref="custom_label_0"/>
        <xs:element ref="custom_label_1"/>
        <xs:element ref="custom_label_2"/>
        <xs:element ref="custom_label_3"/>
        <xs:element ref="custom_label_4"/>
        <xs:element ref="adwords_redirect"/>
        <xs:element ref="excluded_destination"/>
        <xs:element ref="expiration_date"/>
        <xs:element ref="unit_pricing_measure"/>
        <xs:element ref="unit_pricing_base_measure"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="channel">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element ref="link"/>
        <xs:element ref="description"/>
        <xs:element ref="item"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>